accelerate
bitsandbytes
langchain_community
transformers
fastapi
uvicorn
python-multipart
chromadb
sentence-transformers
langchain
#pip3 install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu118